@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using QLBanHang_UI.Models
@model QLBanHang_UI.Models.ViewModel
@{
    var category = Model.Categorys as List<CategoryDto> ?? new List<CategoryDto>();
    var category1 = category!.Take(8).ToList();
    var category2 = category!.Skip(8).Take(8);
    var brand = Model.Brands as List<BrandDto> ?? new List<BrandDto>();
    var brand1 = brand!.Take(8).ToList();
    var brand2 = brand!.Skip(8).Take(8);
    var cart = Model.Carts as List<CartItemDto> ?? new List<CartItemDto>();
}

<div class="container">
    <div class="pre-header w-100">
        <div class="owl-carousel owl-theme feature-box-carousel" data-toggle="owl" data-owl-options="{
            'margin': 1,
            'autoplay': false,
            'autoplayTimeout': 3000,
            'nav': false,
            'dots': false,
            'loop': true,
            'responsive' : {
            '0' : {
            'items' : 1
            },
            '576' : {
            'items' : 2
            },
            '768' : {
            'items' : 3
            },
            '992' : {
            'items' : 4
            }
            }
            }">
            <div class="info-box info-box-icon-left">
                <i class="icon-shipping line-height-1"></i>

                <div class="info-box-content">
                    <h4 class="ls-n-25 line-height-1">MIỄN PHÍ VẬN CHUYỂN &amp; TRẢ HÀNG</h4>
                </div>
                <!-- End .info-box-content -->
            </div>
            <div class="info-box info-box-icon-left">
                <i class="icon-money line-height-1"></i>

                <div class="info-box-content">
                    <h4 class="ls-n-25 line-height-1">CAM KẾT HOÀN TIỀN</h4>
                </div>
                <!-- End .info-box-content -->
            </div>
            <div class="info-box info-box-icon-left">
                <i class="icon-support line-height-1"></i>

                <div class="info-box-content">
                    <h4 class="ls-n-25 line-height-1">HỖ TRỢ TRỰC TUYẾN 24/7</h4>
                </div>
                <!-- End .info-box-content -->
            </div>
            <div class="info-box info-box-icon-left">
                <i class="icon-secure-payment line-height-1"></i>

                <div class="info-box-content">
                    <h4 class="ls-n-25 line-height-1">THANH TOÁN AN TOÀN</h4>
                </div>
                <!-- End .info-box-content -->
            </div>
        </div>
    </div>
</div>

<!--Header-Top  -->
<div class="header-top">
    <div class="container">
        <div class="header-left">
            <div class="header-dropdown mr-auto mr-sm-3 mr-md-0">
                <a href="#"><i class="flag-vn flag"></i>VN</a>
                <!-- End .header-menu -->
            </div>
            <div class="header-dropdown">
                <a href="#" class="pl-0">VNĐ</a>
            </div>
        </div>
        <!-- End .header-left -->

        <div class="header-right">
            <ul class="top-links mega-menu show-arrow d-none d-lg-inline-block mt-0 mb-0">
                <li class="item-menu narrow"><a href="#">Tài khoản của tôi</a></li>
                <li class="item-menu narrow"><a href="#">Về chúng tôi</a></li>
                <li class="item-menu narrow"><a href="#">Blog</a></li>
                <li class="item-menu narrow"><a href="#">Danh sách yêu thích</a></li>
                <li class="item-menu narrow"><a href="@Url.Action("CartView","Cart", new{area ="User"})">Giỏ hàng</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="item-menu">
                        <a class="login" href="@Url.Action("Logout","Auth", new {area="User"})">Đăng xuất</a>
                    </li>
                }
                else
                {
                    <li class="item-menu">
                        <a class="login" href="@Url.Action("Login","Auth", new {area ="User"})">Đăng nhập</a>
                    </li>
                }

            </ul>
            <span class="separator d-none d-lg-block"></span>
            <div class="social-icons d-flex align-items-center">
                <a target="_blank" rel="nofollow" class="social-icon social-facebook icon-facebook" href="#" title="Facebook"></a>
                <a target="_blank" rel="nofollow" class="social-icon social-twitter icon-twitter" href="#" title="Twitter"></a>
                <a target="_blank" rel="nofollow" class="social-icon social-instagram icon-instagram" href="#" title="Instagram"></a>
            </div>
        </div>
        <!-- End .header-right -->
    </div>
    <!-- End .container -->
</div>

<!-- Container-->
<div class="container">
    <div class="header-middle sticky-header d-flex w-100" style="padding-top: 0 !important; padding-bottom: 0 !important;">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler text-white mr-2" type="button">
                    <i class="fas fa-bars"></i>
                </button>
                <a href="@Url.Action("DashBoard","DashBoard",new {area="User"})" class="logo">
                    <span class="logo-lg" style="font-size: 18px;
                                                 font-weight: bold;
                                                 margin-left: 10px;
                                                 font-family: 'Arial Rounded MT Bold', sans-serif;
                                                 color: rgba(255, 255, 255, 0.8);
                                                 padding: 10px 10px 0 0;
                                                 border-radius: 5px;
                                                 text-align: center;
                                                 display: inline-block;
                                                 width: 100%;" >
                     HoiAn-DNG 360
                    </span>
                </a>
            </div>
            <!-- End .header-left -->
            <!-- Header center -->
            <div class="header-center flex-1 ml-lg-0 justify-content-end justify-content-lg-start  w-lg-max">
                <div class="header-icon header-search header-search-inline header-search-category w-lg-max d-none d-sm-block">
                    <a href="#" class="search-toggle text-white" role="button">
                        <i class="icon-search-3 pt-md-1 pr-2 mr-3 d-none d-sm-inline-block"></i>
                    </a>
                    <form id="search-form" asp-area="User" asp-controller="DashBoard" asp-action="SearchProduct" method="get">
                        <div class="header-search-wrapper">
                            <input id="search" name="search" type="search" class="form-control" placeholder="Tìm kiếm..." required="">
                            <button id="search-btn" class="btn icon-magnifier" type="submit"></button>
                        </div>
                    </form>
                </div>
                <!-- End .header-search -->
            </div>

            <!-- Header Right -->
            <div class="header-right ml-0 ml-lg-auto">
                <div class="header-contact d-none d-lg-flex align-items-center">
                    <i class="icon-phone-2" style="color: white"></i>
                    <h6 style="color: white">Gọi Ngay <a href="tel:#" class="font1">+0914 999 999</a></h6>
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="@Url.Action("Logout","Auth", new {area ="User"})" class="header-icon header-icon-user text-white">
                        <i class="icon-user-2 d-inline-flex-center"></i>
                    </a>
                }
                else
                {
                    <a href="@Url.Action("Login","Auth", new {area ="User"})" class="header-icon header-icon-user text-white">
                        <i class="icon-user-2 d-inline-flex-center"></i>
                    </a>
                }


                <a href="#" class="header-icon d-inline-flex text-white">
                    <i class="icon-wishlist-2 d-inline-flex-center line-height-1"></i>
                </a>

                <div class="dropdown cart-dropdown">
                    <a href="#" title="Cart" class="dropdown-toggle dropdown-arrow cart-toggle d-flex align-items-center" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                        <i class="minicart-icon" style="border-color: white"></i>
                    </a>

                    <div class="cart-overlay"></div>

                    <div class="dropdown-menu mobile-cart">
                        <a href="#" title="Close (Esc)" class="btn-close">×</a>

                        <div class="dropdownmenu-wrapper custom-scrollbar">
                            <div class="dropdown-cart-header">Giỏ Hàng</div>
                            <!-- End .dropdown-cart-header -->
                            @if (cart.Any())
                            {
                                @await Html.PartialAsync("~/Areas/User/Views/Shared/_CartPartial.cshtml", cart)
                                ;
                            }
                        </div>
                        <!-- End .dropdown-cart-total -->
                    </div>
                    <!-- End .dropdownmenu-wrapper -->
                </div>
                <!-- End .dropdown-menu -->
            </div>
            <!-- End .dropdown -->
        </div>
        <!-- End .header-right -->
    </div>
</div>

<div class="container d-none  d-lg-block">
    <div class="row">
        <aside class="sidebar-home col-lg-3 mobile-sidebar toggle-menu-wrap">
            <div class="side-menu-wrapper text-uppercase d-none d-lg-block">
                <h2 class="side-menu-title cursor-pointer">
                    <a class="collpased d-block btn-dark" data-toggle="collapse" href="#side-nav" role="button" aria-expanded="true" aria-controls="side-nav">
                        <i class="fas fa-bars"></i>Mua sắm theo danh mục
                    </a>
                </h2>
                <div class="collapse w-100 bg-white" id="side-nav">
                    <nav class="side-nav bg-white">
                        <ul class="menu menu-vertical sf-arrows">
                            <li class="active"><a href="@Url.Action("DashBoard","DashBoard",new {area="User"})"><i class="sicon-home"></i>Trang Chủ</a></li>
                            <li>
                                <a href="#" class="sf-with-ul">
                                    <i class="sicon-briefcase"></i>Danh mục
                                </a>
                                <div class="megamenu megamenu-fixed-width megamenu-3cols">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <ul class="submenu">
                                                @if (category1.Any())
                                                {
                                                    @foreach (var item in category1)
                                                    {
                                                        <li><a href="@Url.Action("CategoryProduct","DashBoard", new{area="User",category=@item.CategoryName})">@item.CategoryName</a></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                        <div class="col-lg-4">
                                            <ul class="submenu">
                                                @if (category2.Any())
                                                {
                                                    @foreach (var item in category2)
                                                    {
                                                        <li><a href="@Url.Action("CategoryProduct","DashBoard", new{area="User",category=@item.CategoryName})">@item.CategoryName</a></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- End .megamenu -->
                            </li>
                            <li>
                                <a href="#" class="sf-with-ul">
                                    <i class="sicon-present"></i>Thương hiệu
                                </a>
                                <div class="megamenu megamenu-fixed-width">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <ul class="submenu">
                                                @if (brand1.Any())
                                                {
                                                    @foreach (var item in brand1)
                                                    {
                                                        <li><a href="@Url.Action("BrandProduct","DashBoard", new{area="User",brandName=@item.BrandName})">@item.BrandName</a></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                        <!-- End .col-lg-4 -->

                                        <div class="col-lg-4">
                                            <ul class="submenu">
                                                @if (brand2.Any())
                                                {
                                                    @foreach (var item in brand2)
                                                    {
                                                        <li><a href="@Url.Action("BrandProduct","DashBoard", new{area="User",brandName=@item.BrandName})">@item.BrandName</a></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                        <!-- End .col-lg-4 -->
                                    </div>
                                    <!-- End .row -->
                                </div>
                                <!-- End .megamenu -->
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- End .side-menu-container -->
        </aside>
        <!-- End .col-lg-3 -->
    </div>
</div>

