@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using QLBanHang_UI.Models;
@model QLBanHang_UI.Models.ViewModel
@{
    var cart = Model.Carts as List<CartItemDto> ?? new List<CartItemDto>();
}
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from portotheme.com/html/porto_ecommerce/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 07 Aug 2024 09:56:54 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Porto - Bootstrap eCommerce Template</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Bootstrap eCommerce Template">
    <meta name="author" content="SW-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/images/icons/favicon.png">


    <script>
        WebFontConfig = {
            google: { families: [ 'Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700', 'Shadows+Into+Light:400' ] }
        };
        ( function ( d ) {
            var wf = d.createElement( 'script' ), s = d.scripts[ 0 ];
            wf.src = '/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore( wf, s );
        } )( document );
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/demo9.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="~/css/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/fontawesome-free/css/all.min.css">
</head>

<body>
    <div class="page-wrapper">
        <header class="header">
                @await Html.PartialAsync("_Header", Model)
        </header>
    </div>

    <main class="main">
        <div class="container">
            <ul class="checkout-progress-bar d-flex justify-content-center flex-wrap">
                <li class="active">
                    <a href="@Url.Action("CartView","Cart",new {area="User"})">Shopping Cart</a>
                </li>
                <li>
                    <a href="@Url.Action("CheckoutView","Cart",new {area="User"})">Checkout</a>
                </li>
            </ul>

            <div class="row">
                <div class="col-lg-8">
                    <div class="cart-table-container">
                        <form asp-area="User" asp-controller="Cart" asp-action="UpdateCart" method="Get">
                            <table class="table table-cart">
                                <thead>
                                    <tr>
                                        <th class="thumbnail-col"></th>
                                        <th class="product-col">Product</th>
                                        <th class="price-col">Price</th>
                                        <th class="qty-col">Quantity</th>
                                        <th class="text-right">Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (cart.Any())
                                    {
                                        @for (int i = 0; i < cart.Count; i++)
                                        {
                                            <tr class="product-row" id="product-row-@cart[i].CartItemId ">
                                                <td>
                                                    <figure class="product-image-container">
                                                        <a href="@Url.Action("ProductDetail","DashBoard",new {area="User", id =cart[i].ProductId})" class="product-image">
                                                            <img src="@cart[i].Product.ImageUrl" alt="product">
                                                        </a>

                                                        <button type="button"
                                                                class="btn-remove icon-cancel"
                                                                data-id="@cart[i].CartItemId"
                                                                title="Remove Product">
                                                        </button>

                                                    </figure>
                                                </td>
                                                <td class="product-col">
                                                    <h5 class="product-title">
                                                        <a href="product.html">@cart[i].Product.Name</a>
                                                    </h5>
                                                </td>
                                                @if (cart[i].Product.PromotionPrice != null)
                                                {
                                                    <td>@cart[i].Product.PromotionPrice</td>
                                                }
                                                else
                                                {
                                                    <td>@cart[i].Product.Price</td>
                                                }

                                                <td>
                                                    <input type="hidden" asp-for="@cart[i].CartItemId" />
                                                    <div class="product-single-qty">
                                                        <input class="horizontal-quantity form-control" type="number" value="@cart[i].Quantity"
                                                               asp-for="@cart[i].Quantity">
                                                    </div><!-- End .product-single-qty -->
                                                </td>
                                                @if (cart[i].Product.PromotionPrice != null)
                                                {
                                                    <td class="text-right"><span class="subtotal-price">@(cart[i].Product.PromotionPrice * cart[i].Quantity) VND</span></td>

                                                }
                                                else
                                                {
                                                    <td class="text-right"><span class="subtotal-price">@(cart[i].Product.Price * cart[i].Quantity) VND</span></td>

                                                }
                                            </tr>
                                        }

                                    }

                                </tbody>


                                <tfoot>
                                    <tr>
                                        <td colspan="5" class="clearfix">

                                            <div class="float-right">
                                                <button type="submit" class="btn btn-shop btn-update-cart" id="updateCartBtn">
                                                    Update Cart
                                                </button>
                                            </div><!-- End .float-right -->
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </form>

                    </div><!-- End .cart-table-container -->
                </div><!-- End .col-lg-8 -->

                <div class="col-lg-4">
                    <div class="cart-summary">
                        <h3>CART TOTALS</h3>

                        <table class="table table-totals">
                            <tbody>
                                <tr>
                                    <td>Subtotal</td>
                                    <td> @cart.Sum(x => x.Quantity * (x.Product?.PromotionPrice ?? x.Product?.Price));</td>
                                </tr>
                            </tbody>

                            <tfoot>
                                <tr>
                                    <td>Total</td>
                                    <td>@cart.Sum(x => x.Quantity * (x.Product?.PromotionPrice ?? x.Product?.Price));</td>
                                </tr>
                            </tfoot>
                        </table>

                        <div class="checkout-methods">
                            <a href="@Url.Action("CheckoutView","Cart",new {area="User"})" class="btn btn-block btn-dark">
                                Proceed to Checkout
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </div><!-- End .cart-summary -->
                </div><!-- End .col-lg-4 -->
            </div><!-- End .row -->
        </div><!-- End .container -->

        <div class="mb-6"></div><!-- margin -->
    </main><!-- End .main -->
    <!--Footer -->
    @await Html.PartialAsync("_Footer")
    <!--End Footer-->
    <!-- Plugins JS File -->
    <!-- Plugins JS File -->
    <script data-cfasync="false" src="~/js/email-decode.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/plugins.min.js"></script>
    <script src="~/js/jquery.appear.min.js"></script>
    <!-- Main JS File -->
    <script src="~/lib/jquery/dist/main.min.js"></script>
    <script>
        // Xóa tất cả sự kiện trước đó trên nút btn-remove
        $(document).off('click', '.btn-remove');

        // Gán sự kiện mới
        $(document).on('click', '.btn-remove', function (e) {
            e.preventDefault(); // Ngăn chặn hành vi mặc định của button

            // Lấy giá trị CartItemId từ thuộc tính data-id
            let cartItemId = $(this).data('id');

            // Kiểm tra nếu CartItemId không tồn tại
            if (!cartItemId) {
                alert("Không thể thực hiện thao tác. Thiếu thông tin sản phẩm.");
                return;
            }

            // Gửi yêu cầu AJAX để xóa sản phẩm
            $.ajax({
                url: `/User/Cart/RemoveItem/${cartItemId}`, // URL API xóa sản phẩm
                type: 'GET',
                success: function (response) {
                    if (response.success) {
                        // Render lại giao diện từ server
                        location.reload(); // Tải lại toàn bộ trang
                    } else {
                        alert("Xóa sản phẩm thất bại. Vui lòng thử lại.");
                    }
                },
                error: function () {
                    alert("Đã xảy ra lỗi khi xóa sản phẩm.");
                }
            });
        });

        $(document).on("click", ".btn-remove", function () {
            var cartItemId = $(this).data("id");

            if (!confirm("Bạn có chắc chắn muốn xóa sản phẩm này?")) {
                return;
            }

            // Gửi AJAX request đến server
            $.ajax({
                url: '/User/DashBoard/RemoveItem',
                type: 'GET',
                data: { id: cartItemId },
                success: function (response) {
                    $(".dropdownmenu-wrapper").html(response); // Cập nhật phần còn lại
                    $(".dropdownmenu-wrapper").prepend('<div class="dropdown-cart-header">' + cartHeader + '</div>'); // Thêm lại tiêu đề vào đầu
                },
                error: function () {
                    alert("Có lỗi xảy ra khi xóa sản phẩm.");
                }
            });
        });
    </script>


</body>


<!-- Mirrored from portotheme.com/html/porto_ecommerce/cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 07 Aug 2024 09:56:56 GMT -->
</html>