@using QLBanHang_UI.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model QLBanHang_UI.Models.ViewModel
@{
}
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from portotheme.com/html/porto_ecommerce/checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 07 Aug 2024 09:57:28 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Porto - Bootstrap eCommerce Template</title>

    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="Porto - Bootstrap eCommerce Template">
    <meta name="author" content="SW-THEMES">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/images/icons/favicon.png">


    <script>
        WebFontConfig = {
            google: {
                families: ['Open+Sans:300,400,600,700,800', 'Poppins:300,400,500,600,700', 'Shadows+Into+Light:400']
            }
        };
        (function (d) {
            var wf = d.createElement('script'),
                s = d.scripts[0];
            wf.src = '/js/webfont.js';
            wf.async = true;
            s.parentNode.insertBefore(wf, s);
        })(document);
    </script>

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/demo9.min.css">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="~/css/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendor/fontawesome-free/css/all.min.css">
</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            @await Html.PartialAsync("_Header", Model)
        </header>
        <main class="main main-test">
            <div class="container checkout-container">
                <ul class="checkout-progress-bar d-flex justify-content-center flex-wrap">
                    <li>
                        <a href="@Url.Action("CartView","Cart",new {area="User"})">Shopping Cart</a>
                    </li>
                    <li class="active">
                        <a href="@Url.Action("CheckoutView","Cart",new {area="User"})">Checkout</a>
                    </li>
                </ul>
                <div class="checkout-discount">
                    <h4>
                        Have a coupon?
                        <button data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne" class="btn btn-link btn-toggle">ENTER YOUR CODE</button>
                    </h4>

                    <div id="collapseTwo" class="collapse">
                        <div class="feature-box">
                            <div class="feature-box-content">
                                <p>If you have a coupon code, please apply it below.</p>

                                <form id="couponForm" action="#">
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-sm w-auto" placeholder="Coupon code" id="promotionCode" required="" />
                                        <div class="input-group-append">
                                            <button class="btn btn-sm mt-0" type="submit" id="applyCodeBtn">
                                                Apply Coupon
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-7">
                        <ul class="checkout-steps">
                            <li>
                                <h2 class="step-title">Billing details</h2>

                                <form asp-area="User" asp-controller="Order" asp-action="CheckOut" id="checkout-form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>
                                                    First name
                                                    <abbr class="required" title="required">*</abbr>
                                                </label>
                                                <input name="FirstName" type="text" class="form-control" required />
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>
                                                    Last name
                                                    <abbr class="required" title="required">*</abbr>
                                                </label>
                                                <input name="LastName" type="text" class="form-control" required />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group mb-1 pb-2">
                                        <label>
                                            Street address
                                            <abbr class="required" title="required">*</abbr>
                                        </label>
                                        <input name="Address" type="text" class="form-control" placeholder="House number and street name" required />
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            Promotion Code
                                        </label>
                                        <input name="PromotionCode" type="text" class="form-control" placeholder="Please enter to apply for order" />
                                    </div>

                                    <div class="form-group">
                                        <label>Phone <abbr class="required" title="required">*</abbr></label>
                                        <input name="PhoneNumber" type="tel" class="form-control" required />
                                    </div>

                                    <div class="form-group">
                                        <label>
                                            Email address
                                            <abbr class="required" title="required">*</abbr>
                                        </label>
                                        <input type="Email" class="form-control" required />
                                    </div>

                                    <div class="form-group">
                                        <label class="order-comments">Order notes (optional)</label>
                                        <textarea class="form-control" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <!-- End .col-lg-8 -->

                    <div class="col-lg-5">
                        <div class="order-summary">
                            <h3>YOUR ORDER</h3>

                            <table class="table table-mini-cart">
                                <thead>
                                    <tr>
                                        <th colspan="2">Product</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Carts!.Any())
                                    {
                                        @foreach (var item in Model.Carts!)
                                        {
                                            <tr>
                                                <td class="product-col">
                                                    <h3 class="product-title">
                                                        @item.Product!.Name x
                                                        <span class="product-qty">@item.Quantity</span>
                                                    </h3>
                                                </td>

                                                <td class="price-col">
                                                    <span>
                                                        @((item.Product.PromotionPrice ?? item.Product.Price) * item.Quantity)
                                                    </span>
                                                </td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr class="cart-subtotal">
                                        <td>
                                            <h4>Subtotal</h4>
                                        </td>

                                        <td class="price-col">
                                            @if (Model.Carts!.Any())
                                            {
                                                <span id="totalPrice">@Model.Carts!.Sum(p => (p.Product!.PromotionPrice ?? p.Product.Price) * p.Quantity)</span>
                                            }

                                        </td>
                                    </tr>
                                    <tr class="order-shipping">
                                        <td class="text-left" colspan="2">
                                            <h4 class="m-b-sm">Shipping</h4>

                                            <div class="form-group form-group-custom-control">
                                                <div class="custom-control custom-radio d-flex">
                                                    <input type="radio" class="custom-control-input" name="radio" checked />
                                                    <label class="custom-control-label">Local Pickup</label>
                                                </div>
                                                <!-- End .custom-checkbox -->
                                            </div>
                                            <!-- End .form-group -->

                                            <div class="form-group form-group-custom-control mb-0">
                                                <div class="custom-control custom-radio d-flex mb-0">
                                                    <input type="radio" name="radio" class="custom-control-input">
                                                    <label class="custom-control-label">Flat Rate</label>
                                                </div>
                                                <!-- End .custom-checkbox -->
                                            </div>
                                            <!-- End .form-group -->
                                        </td>

                                    </tr>

                                    <tr class="order-total">
                                        <td>
                                            <h4>Total</h4>
                                        </td>
                                        <td>
                                            <b class="total-price"><span>@Model.Carts!.Sum(p => (p.Product!.PromotionPrice ?? p.Product.Price) * p.Quantity)</span></b>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>

                            <div class="payment-methods">
                                <h4 class="">Payment methods</h4>
                                <div class="info-box with-icon p-0">
                                    <p>
                                    </p>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-dark btn-place-order" form="checkout-form">
                                Place order
                            </button>
                        </div>
                        <!-- End .cart-summary -->
                    </div>
                    <!-- End .col-lg-4 -->
                </div>
                <!-- End .row -->
            </div>
            <!-- End .container -->
        </main>

    </div>
    <!-- End .header -->
    
    @await Html.PartialAsync("_Footer");
    
    <!-- End .main -->
    <!--Footer-->
    
    <!--End Footer-->
    <!-- Plugins JS File -->
    <script data-cfasync="false" src="~/js/email-decode.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/plugins.min.js"></script>

    <!-- Main JS File -->
    <script src="~/lib/jquery/dist/main.min.js"></script>
</body>

</html>
<script>
    document.getElementById('applyCodeBtn').addEventListener('click', async function(event) {
        event.preventDefault(); // Ngừng hành động mặc định của form (submit)

        var promotionCode = document.getElementById('promotionCode').value;
        var priceElement = document.getElementById('totalPrice');
        var originalPrice = parseFloat(priceElement.textContent.replace('VND','').trim());
        // Kiểm tra xem người dùng có nhập mã khuyến mãi hay không
        if (!promotionCode) {
            document.querySelector('.total-price span').textContent = originalPrice + "VND";
            return;
        }


         try {
            // Gửi yêu cầu API để kiểm tra mã khuyến mãi
            const response = await fetch(`https://localhost:7069/api/Promotion/GetByCode/${promotionCode}`, {
                method: 'GET',  // Đảm bảo phương thức là 'GET'
            });

            if (!response.ok) {
                throw new Error('Failed to fetch promotion data');
            }

            const data = await response.json();  // Xử lý phản hồi JSON từ API
            const currentTime = new Date();
            const startDate = new Date(data.startDate);
            const endDate = new Date(data.endDate);
            if (currentTime >= startDate && currentTime <= endDate) {
                const discount = data.percentage;  // Lấy tỷ lệ giảm giá từ API
                const discountedPrice = originalPrice * (100 - discount)/100;

                // Cập nhật giá trị mới cho tổng giá
                document.querySelector('.total-price span').textContent =discountedPrice.toFixed(2) + 'VND';
            } else {
                alert('Invalid promotion code!');
            }
        } catch (error) {
            console.error('Error:', error);
            alert('There was an error applying the promotion code. Please try again later.');
        }
    });
    $(document).on("click", ".btn-remove", function () {
            var cartItemId = $(this).data("id");

            if (!confirm("Bạn có chắc chắn muốn xóa sản phẩm này?")) {
                return;
            }

            // Gửi AJAX request đến server
            $.ajax({
                url: '/User/DashBoard/RemoveItem',
                type: 'GET',
                data: { id: cartItemId },
                success: function (response) {
                    $(".dropdownmenu-wrapper").html(response); // Cập nhật phần còn lại
                    $(".dropdownmenu-wrapper").prepend('<div class="dropdown-cart-header">' + cartHeader + '</div>'); // Thêm lại tiêu đề vào đầu
                },
                error: function () {
                    alert("Có lỗi xảy ra khi xóa sản phẩm.");
                }
            });
        });

</script>